:root {
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
        Courier, monospace;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0.5rem 1rem;
    font-family: var(--font-sans);
}

.grid {
    display: flex;
    flex-direction: column;
}
.header {
    padding: 0.5rem 0;
}
.editor-section {
    flex-grow: 1;
    padding: 0.5rem 0;
}
.result-section {
    flex-grow: 1;
    padding: 0.5rem 0;
}

.toolbar {
    display: inline-block;
    margin-left: 1rem;
}
.toolbar button {
    border: 1px solid #008bf5;
    border-radius: 0.125rem;
    background: #fff;
    padding: 0.125em 0.25rem;
    color: #008bf5;
    cursor: pointer;
    font-size: 80%;
}
.toolbar button:hover {
    background: #008bf5;
    color: #fff;
}

.editor {
    position: relative;
    display: block;
    resize: vertical;
    width: 100%;
    min-height: 5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    white-space: pre-wrap;
    font-family: var(--font-monospace);
}
.editor:focus {
    outline: none;
}
.editor::after {
    position: absolute;
    right: -1px;
    bottom: -1px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0.125rem;
    color: #aaa;
    font-size: 80%;
    content: "Ctrl+Enter";
}

.result {
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-family: var(--font-monospace);
    font-size: 90%;
}
.result th {
    border-bottom: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    text-align: left;
}
.result td {
    padding: 0.25rem 0.5rem;
}
